@import "../../shared/theme/variables";

.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .topSection {
    height: 50%;
    width: 100%;
    position: relative;
    z-index: -1;

    .flickingImg {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .titleContainer {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, hsl(4, 0%, 0%, 0.7), transparent);
      z-index: 1;
      padding: 1rem 0 1rem 2rem;

      .title, .description {
        width: 50%;
      }

      .title {
        color: #fff;
        font-weight: 700;
        font-size: 4rem;

        &:first-letter {
          color: $secondary;
        }
      }

      .description {
        color: $text-secondary;
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 1.5px;
      }
    }
  }

  .contactSection {
    position: relative;
    top: -1.2rem;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .addressSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: .5rem;
    flex-wrap: wrap;

    .contactBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem;
      font-weight: 500;

      .contactName {
        font-weight: 700;
        font-size: 1.2rem;
      }

      a {
        text-decoration: none;
        color: $secondary-dark;
      }

      .iconContact {
        display: flex;
        align-items: center;

        a, span {
          margin: 0 .5rem 0 .2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    .topSection {
      .titleContainer {
        .title, .description {
          width: 60%;
        }
      }
    }

    .addressSection {
      .address {
        order: 2;
      }
    }
  }
}

@media #{$tablet-max}{
  .container {
    .topSection {
      .titleContainer {
        .title, .description {
          width: 90%;
        }

        .description {
          letter-spacing: 1px;
        }
      }
    }

    .addressSection {
      .address {
        width: 100%;
        text-align: center;
      }

      .contactBox {
      }
    }
  }
}

@media #{$smartphone}{
  .container {
    .topSection {
      .titleContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 1rem;

        .title {
          font-size: 2.1rem;
          line-height: 2.5rem;
        }

        .description {
          font-size: 1.1rem;
          line-height: 1.4rem;
        }
      }
    }
    .addressSection {
      .address, .contactBox{
       padding-bottom: .5rem;
      }
    }
  }
}
