.container {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  position: absolute;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0 11px 15px -7px,
  rgba(0, 0, 0, 0.14) 0px 24px 38px 3px,
  rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;

  .image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
