@import "../../../../shared/theme/variables";

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
}


@media #{$smartphone} {
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}
