@import "../../../../shared/theme/variables";

.pagination {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;

  .dot {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #222;
    margin: 10px 10px;
    transition: background-color ease 0.5s;
    cursor: pointer;
  }
}
